@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #ffffff;
}
header nav{
    width:100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    background-color: rgba(0, 0, 0, 0.863);
    
}
.logo{
    text-decoration: none;
}
.logo h1{
    
    color: rgba(255, 255, 255, 0.815);
    cursor: pointer;
    font-size: 43px;
    font-family: "Oleo Script", serif;
    text-decoration: none; 
}
.menu{
    list-style: none;
    display: flex;
    gap: 30px; 
}
.menu li a{
text-decoration: none; 
color:rgba(255, 255, 255, 0.815) ;
padding: 8px;      
border-radius: 8px; 
font-weight:bold; 
font-size: 20px; 
font-family: "Playfair Display", serif;
border-radius: 8px;
}
.menu li a:hover{
    background-color: white;
    color: black;
}
.perfil{ 
    color: rgba(255, 255, 255, 0.815);
    font-size: 45px; 
    
    padding: 3px 5px 0px 3px;
    border-radius: 50px;
}
.perfil:hover{
    background-color: white;
    color: black;
}


#banner img{
    
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}
main{background-color: rgb(228, 203, 171);}


    
    

.sobre-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    transition: 2s ease-in-out; 
    padding: 10px; 
    gap: 20px;
    height: auto;
    
    
}

.sobre-container img{
    width: 100%;
    object-fit: cover;
    display: block;
    border-radius: 5px;
    height: auto;
    
}

.sobre-container h2{
    font-size: 30px;
    color: rgba(0, 0, 0, 0.815);
    font-family: "Playfair Display", serif;
    margin-bottom: 20px;

}
.sobre-container p{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.815);
    line-height: 1.8; 
}

h3{
font-size: 30px;
font-family: "Playfair Display", serif;
color: #996743;
}

#cards {
    text-align: center; 
}
.cards-container{
    margin: 0; 
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    transition: 2s ease-in-out;
    gap: 100px;
    padding: 10px 20px; 
}
.card{
    background-color: #996743;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    text-align: left;
   padding: 15px;
}

.card img{
   
    width: 100%; 
    height: 200px;
    object-fit: cover; 
    border-radius: 10px;
}
.card h5{       
    margin-top: 15px;
    font-size: 22px;
    color: #000000;
}
.card p{ 
    margin-top: 10px;
    font-size: 16px;
    color: #000000;
    line-height: 1.5;
}







